<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highstreets.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.notification.notification_details.NotificationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.bookings.ViewDealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.offer_details.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NoInternetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.write_review.ReadAllReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.write_review.WriteReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login_registration.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.main.HomeMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.login_registration.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.forgot_password.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.reset_password_otp.ResetPasswordOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reset_password.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.change_password.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.profile.profile_edit.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.select_location.SelectLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ReferAFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sub_categories.SubCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.review_booking.ReviewBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view_all_deals.ViewAllDealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view_all_recently_booked.ViewAllRecentlyBookedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MoreCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.most_viewed_shop.ViewAllMostViewShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.offer_details.OfferDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dealnest.co.uk/index.php"
                    android:pathPrefix="/share_offer"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.shop_details.ShopActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dealnest.co.uk/index.php"
                    android:pathPrefix="/share_merchant"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <receiver -->
        <!-- android:name=".receiver.NetworkChangeReceiver" -->
        <!-- android:label="NetworkChangeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fb08f4d1ba443ca79e326d9cfd4fcdf73a1d0a06" />
    </application>

</manifest>